[project]
name = "llama-index-cloud-sql-pg"
dynamic = ["version"]
description = "LlamaIndex integrations for Google Cloud SQL for PostgreSQL"
readme = "README.rst"
license = {file = "LICENSE"}
requires-python = ">=3.10"
authors = [
    {name = "Google LLC", email = "googleapis-packages@google.com"}
]

dependencies = [
    "cloud-sql-python-connector[asyncpg] >= 1.10.0, <2.0.0",
    "llama-index-core>=0.12.0, <1.0.0",
    "pgvector>=0.2.5, <1.0.0",
    "SQLAlchemy[asyncio]>=2.0.25, <3.0.0"
]

classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]

[tool.setuptools.dynamic]
version = {attr = "llama_index_cloud_sql_pg.version.__version__"}

[project.urls]
Homepage = "https://github.com/googleapis/llama-index-cloud-sql-pg-python"
Repository = "https://github.com/googleapis/llama-index-cloud-sql-pg-python.git"
"Bug Tracker" = "https://github.com/googleapis/llama-index-cloud-sql-pg-python/issues"
Changelog = "https://github.com/googleapis/llama-index-cloud-sql-pg-python/blob/main/CHANGELOG.md"

[project.optional-dependencies]
test = [
    "black[jupyter]==25.12.0",
    "isort==7.0.0",
    "mypy==1.19.1",
    "pytest-asyncio==1.3.0",
    "pytest==8.4.2",
    "pytest-cov==7.0.0"
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "class"

[tool.black]
target-version = ['py310']

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true
disallow_incomplete_defs = true

exclude = [
    'docs/*',
    'noxfile.py'
]
